@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
  }

.succ{
    margin: 0;
    padding: 0;
    background-image: url('images/hero4.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(233, 189, 139);
    object-fit: cover;
    justify-content: center;
    margin: auto 250px;
    padding: 20px;
    height: 550px;
}
h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222222;
    text-align: center;
  }
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;       
    }
    
button{
        background-image: url("images/button.png");
        background-color: transparent;
        background-size: cover;
        color: #088178;
        border: 0;
        padding: 14px 70px 14px 75px;
        background-repeat: no-repeat;
        cursor: pointer;
        font-weight: 700;
        font-size: 50px;
        bottom: -10;
}